@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background: #deb28c;
  color: black;
  font-family: 'Overpass', sans-serif;
  font-weight:600;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 0;
  margin: 0;
  cursor: crosshair;
}
.bg {
  content: " ";
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 200%;
  background: url(media/bg.gif) skyblue;
  /*animation: backdrop 15s infinite linear;*/
}

.bg::after {
  content: " ";
  background: url(media/mobile-background.jpg);
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  opacity: 0.8;
  filter: saturate(1.5) hue-rotate(12deg);
  background-repeat: round;
}
@keyframes backdrop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-128px);
  }
}
.main {
  border-radius: 64px;
  /* box-shadow: #ffffff 0px 0px 0px 8px; */
  border: 8px solid white;
  padding: 16px;
  margin:32px;
  width: 80vw;
  background: #019867;
  overflow-y: auto;
  cursor: default;
  color: white !important;
}
@media (min-width: 576px) {
  .main {
    width: 80vw;
  }
}

@media (min-width: 768px) {
  .main {
    width: 70vw;
  }
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .socials-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .main {
    width: 60vw;
  }
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .socials-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .bg::after {
    background-image: url(media/background.jpg);
  }
}

.bar {
  display: flex;
  justify-content: space-between;
}

.left {
  align-self: center;
}

a {
  color: #eee;
  padding: 8px;
}
a:hover {
  color: #444;
}

h3 {
  font-family: monospace;
}

.projects {
  display: grid;
}

.projects figure {
  display: flex;
  flex-flow: column;
}

.projects img {
  max-width: 100%;
}

.projects figcaption {
  text-align: center;
}

.projects figcaption a {
  cursor: alias;
}

.projects figcaption a::after {
  content: "↗";
}

.socials-container {
  display: grid;
  gap: 2vw 2vw;
}

.social-card {
  align-items: center;
  box-shadow: #fff 0px 0px 0px 2px;
  padding: 1vw 0;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.social-card:hover {
  transform: translateY(-5px);
  box-shadow: #fff 0 0px 0px 2px;
}

.social-card a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: flex;
  gap: 1vw;
  align-items: center;
  text-overflow: ellipsis;
}

.social-card i {
  font-size: 24px;
  color: #fff;
}
